<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{ title }}{{ site.titleSuffix }}</title>
<meta name="description" content="{{ metaDescription }}" />
<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
<link rel="icon" href="/assets/favicon/favicon.ico" sizes="any" />
<link rel="icon" href="/assets/favicon/favicon.svg" type="image/svg+xml" />
<link rel="icon" href="/assets/favicon/favicon-96x96.png" type="image/png" sizes="96x96" />
<link rel="apple-touch-icon" href="/assets/favicon/apple-touch-icon.png" />
<link rel="manifest" href="/assets/favicon/site.webmanifest" />
<link rel="preload" as="font" type="font/woff2" href="/fonts/montserrat-v31-latin-regular.woff2" crossorigin />
<link rel="preload" as="font" type="font/woff2" href="/fonts/montserrat-v31-latin-700.woff2" crossorigin />
